@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* =======================================================================
        ANIMATIONS
   ======================================================================= */

/* --SPRING */

@keyframes xspringTrans300pxFromBelow15 {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.xspringTrans300pxFromBelow15 {
  animation: 1.5s xspringTrans300pxFromBelow15
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.xspringTrans300pxFromBelow20 {
  animation: 2s xspringTrans300pxFromBelow15
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes xspringTrans300pxFromRight15 {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.xspringTrans300pxFromRight15 {
  animation: 1.5s xspringTrans300pxFromRight15
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.xspringTrans300pxFromRight20 {
  animation: 2s xspringTrans300pxFromRight15
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes xspringTrans300pxFromLeft15 {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.xspring300pxFromLeft15 {
  animation: 1.5s xspring300pxFromLeft15 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.xspring300pxFromLeft20 {
  animation: 2s xspring300pxFromLeft15 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* --TWEEN */
@keyframes xtweenTrans300pxFromBelow15 {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.xtweenTrans300pxFromBelow15 {
  animation: 1.5s xtweenTrans300pxFromBelow15;
}
.xtweenTrans300pxFromBelow20 {
  animation: 2s xtweenTrans300pxFromBelow15;
}

@keyframes xtweenTrans300pxFromRight15 {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.xtweenTrans300pxFromRight15 {
  animation: 1.5s xtweenTrans300pxFromRight15;
}
.xtweenTrans300pxFromRight20 {
  animation: 2s xtweenTrans300pxFromRight15;
}

@keyframes xtweenTrans300pxFromLeft15 {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.xtweenTrans300pxFromLeft15 {
  animation: 1.5s xtweenTrans300pxFromLeft15;
}
.xtweenTrans300pxFromLeft20 {
  animation: 2s xtweenTrans300pxFromLeft15;
}
/* =======================================================================
        SHADOWS
   ======================================================================= */
.shadow-t {
  box-shadow: 0 -5px 5px -5px #333;
}

.shadow-b {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.shadow-r {
  box-shadow: 0 5px 5px -5px #333;
}

.shadow-l {
  box-shadow: 5px 0 5px -5px #333;
}

.shadow-all {
  box-shadow: 0 0 5px #333;
}

.shadow-admissionCard-icon {
  box-shadow: rgba(0, 0, 0, 0.45) 0 20px 69px;
}

.parent-element {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.clipped-element {
  clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 0, 50% 50%);
}

/* //--SWIPER AND LOADING page CSS */
/* //{------------SWIPER---------------- */
.swiper-button-next {
  display: none !important;
  opacity: 0 !important;
}
.swiper-button-prev {
  display: none !important;
  opacity: 0 !important;
}

.swiper-container,
.swiper,
.swiper-slider {
  /* z-index: -99 !important; */
}

/* =======================================================================
     NOSCROLLBAR
   ======================================================================= */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* =======================================================================
          LOADIND  page
     ======================================================================= */
.my_loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}
